body{
  color: #333;
  font-family: Verdana,sans-serif;
  margin:0px;

}

header{
  background-color: #efefef;
  
}

.container{
  background-color: pink;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}












