:root {
  font-size: 16px;
}

body {
  margin: 0px;
  color: #111;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

header i {
  position: fixed;
  top: 8px;
  right: 8px;
}

 a {
  text-decoration: none;
  color: #111;
}
header h1 {
  margin-top: 32px;
  margin-bottom: 8px;
}

p {
  font-size: smaller;
}

header p {
  color: #777;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: unset;
}


header .title {
  padding-left: 16px;
}

header h2 {
  color: #777;
  padding: 0 16px;
  margin: 64px 0;
  font-weight: lighter;
  line-height: 1.8em;
}

header img {
  height: auto;
  max-width: 100%;
} 

main {
  padding: 0 16px;
}

main h1 {
  font-size: 20px;
  margin-top: 0;
}


main .time, main p {
  color: #777;
}

main time:hover {
  color: #333;
}

main a:hover {
  color: rgb(177, 154, 26);
} 

main section {
  padding-bottom: 32px;
}

.guide {
  margin-bottom: 64px;
  padding: 8px;
  border: solid #777;
  border-width: thin;
  width: 64px;
  text-align: center;
}

.guide a:hover {
  color: #333;
}


.container {
  display: flex;
  margin-top: 64px;
}

.container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.icon {
  padding-right: 16px;
}

.info {
  align-self: center;
}

.info i {
  color: #777;
  font-size: 1.5em;
  padding-right: 16px;
}

.info i:hover {
  color: #333;
}

.smaller {
  font-size: smaller;
}

section li  {
  list-style-type: none;
}

section ul {
  padding-left: 0;
}

section li a {
  text-decoration-line: underline;
}

section li p {
  margin-top: 0;
}

section li time:hover {
  color: #777;
}

input {
  margin: 64px 0;
  padding: 8px;
  border: solid #777;
  border-width: thin;
  width: 320px;
}


footer {
  margin: 64px 0;
  padding-left: 16px;
}

footer i {
  font-size: 1.5em;
  color: #777;
  padding-right: 16px;
}

footer i:hover {
  color: #333;
}

footer p {
  color: #777;
}

footer a {
  color: #333;
}

footer a:hover {
  color: #111;
}

@media (min-width: 400px) {
  /* わからない */

}





@media (min-width: 740px) {
  .sbs {
    display: flex;
    justify-content: space-between;
  }

  .sbs section {
    width: calc((100% - 48px) / 4);
  }

  header img {
    height: auto;
    width: 700px;
  } 


}

 



























